<form class="content">
    <textarea id="content" [(ngModel)]="content" name="content" placeholder="Insert any text here and let it read to you…"></textarea>
    <div class="controls">
        <button mat-mini-fab color="secondary" aria-label="Settings" (click)="toggleSettings()"
            (keydown.enter)="toggleSettings()" (keydown.space)="toggleSettings()">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-fab color="accent" aria-label="Play" (click)="speak()" (keydown.enter)="speak()"
            (keydown.space)="speak()">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-mini-fab color="primary" [disabled]="stopButtonDisabled$ | async" aria-label="Stop" (click)="stop()"
            (keydown.enter)="stop()" (keydown.space)="stop()">
            <mat-icon>stop</mat-icon>
        </button>
    </div>
    <div class="controls" [hidden]="!(settingsVisible$ | async)">
        <mat-icon>language</mat-icon>
        <mat-form-field>
            <input type="text" placeholder="Text language" aria-label="Voice" matInput [ngModel]="voice" (ngModelChange)="updateVoice($event)" name="voice"
                [matAutocomplete]="auto" />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayVoice">
                <mat-option *ngFor="let voice of filteredVoices | async" [value]="voice">
                    {{voice.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-icon>speed</mat-icon>
        <mat-slider color="primary" thumbLabel min="0.1" max="3" step="0.1" value="1" [(ngModel)]="rate" name="rate"
            [displayWith]="formatRate"></mat-slider>
    </div>
</form>