<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="license-avatar">
            <mat-icon>info_outlined</mat-icon>
        </div>
        <mat-card-title>About</mat-card-title>
        <mat-card-subtitle>Web Reader</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Web Reader allows you to let your browser read all kind of content for you. The results depend on the
            operating system and browser you are using.</p>
        <p>You can (and should) set the language of the reader voice to match the language of the inserted text. Press
            the gear next to the "Play"-button to change the voice. You can also find an option to level the speed</p>
        <h2>Maintainer</h2>
        <p>Stefan Niedermann (Niedermann IT-Dienstleistungen) - <a
                href="https://www.niedermann.it">www.niedermann.it</a></p>
        <h2>Contribute</h2>
        <p>This is an open source project: You can contribute with <a
                href="https://gitlab.com/stefan-niedermann/web-reader/merge_requests">Merge Requests</a>, <a
                href="https://gitlab.com/stefan-niedermann/web-reader/issues">Feature Requests</a> and <a
                href="https://gitlab.com/stefan-niedermann/web-reader/issues">Bug Reports</a></p>
        <h2>License</h2>
        <p>All contributions to this repository are considered to be licensed under the <a
                href="https://gitlab.com/stefan-niedermann/web-reader/-/raw/main/LICENSE">GNU GENERAL PUBLIC LICENSE
                3+</a>.</p>
    </mat-card-content>
</mat-card>